Cls/xsd/Directions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Directions">
        <xs:complexType>
            <xs:all>
                <xs:element name="Direction"   minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:integer" name="ID"/>
                            <xs:element type="xs:integer" name="Section"/>
                            <xs:element type="xs:string" name="Code"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="CodeMcko2011"/>
                            <xs:element type="xs:string" name="CodeMcko2013"/>
                            <xs:element type="xs:string" name="Actual"/>
                            <xs:element type="xs:integer" name="IDParent"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>

