Cls/xsd/DocumentTypes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DocumentTypes">
        <xs:complexType>
            <xs:all>
                <xs:element name="DocumentType"   minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:integer" name="ID"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:integer" name="IDCategory"/>
                            <xs:element type="xs:string" name="Actual"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>

