Cls/xsd/EduLevelsCampaignTypes.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EduLevelsCampaignTypes">
        <xs:complexType>
            <xs:all>
                <xs:element name="EduLevelsCampaignType"   minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:integer" name="ID"/>
                            <xs:element type="xs:integer" name="IDCampaignTypes"/>
                            <xs:element type="xs:integer" name="IDEducationLevel"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>

