Cls/xsd/Okcms.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Okcms">
        <xs:complexType>
            <xs:all>
                <xs:element name="Okcm"   minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:integer" name="ID"/>
                            <xs:element type="xs:integer" name="Code"/>
                            <xs:element type="xs:string" name="ShortName"/>
                            <xs:element type="xs:string" name="FullName"/>
                            <xs:element type="xs:string" name="Af"/>
                            <xs:element type="xs:string" name="Afg"/>
                            <xs:element type="xs:dateTime" name="UtvDate"/>
                            <xs:element type="xs:dateTime" name="VvedDate"/>
                            <xs:element type="xs:string" name="Actual"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>

