Cls/xsd/Olympics.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Olympics">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Olympic" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Actual"/>
                            <xs:element type="xs:integer" name="ID"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:integer" name="OrderNumber"/>
                            <xs:element type="xs:integer" name="OlympYear"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>