digest/cmp/campaign/xsd/Add_campaign.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Campaign">
                    <xs:complexType>
                        <xs:all>
                               <xs:element name="UID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="36"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                              <xs:element name="Name">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="500"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:integer" name="YearStart"/>
                            <xs:element type="xs:integer" name="YearEnd"/>
                            <xs:element name="EducationForms">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="IDEducationForm" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EducationLevels">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="IDEducationLevel" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:integer" name="IDCampaignType"/>
                            <xs:element type="xs:integer" name="IDCampaignStatus"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

