digest/cmp/campaign/xsd/Remove_campaign.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence>
                    <xs:element name="Campaign">
                        <xs:complexType>
                            <xs:all>
                                <xs:element type="xs:string" name="UID"/>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>