digest/documents/identification/xsd/Add_identification.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Identification" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:long" name="SNILS"/>
                            <xs:element type="xs:integer" name="IDDocumentType"/>
                            <xs:element type="xs:string" name="Surname"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="Patronymic" minOccurs="0"/>
                            <xs:element type="xs:string" name="DocSeries" minOccurs="0"/>
                            <xs:element type="xs:integer" name="DocNumber"/>
                            <xs:element type="xs:string" name="DocOrganization"/>
                            <xs:element type="xs:dateTime" name="IssueDate"/>
                            <xs:element type="xs:integer" name="IDOkcm"/>
                            <xs:element type="xs:string" name="File"/>
                            <xs:element type="xs:string" name="SubdivisionCode" minOccurs="0"/>
                            <xs:element name="IDDocChoice">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element type="xs:string" name="UID"/>
                                        <xs:element type="xs:integer" name="UIDEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

