digest/cmp/entrance_test_benefits/xsd/Add_entrance_test_benefits.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PackageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EntranceTestBenefit">
					<xs:complexType>
						<xs:all>
							<xs:element type="xs:string" name="UID"/>
							<xs:element type="xs:string" name="UIDEntranceTest"/>
							<xs:element type="xs:integer" name="IDBenefit"/>
							<xs:element type="xs:integer" name="IDOlympicDiplomaType"/>
							<xs:element type="xs:integer" name="IDOlympicLevel"/>
							<xs:element name="OlympicProfiles">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:integer" name="IDOlympicProfile" maxOccurs="unbounded" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:integer" name="EgeMinValue"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>