digest/cmp/distributed_admission_volume/xsd/Add_distributed_admission_volume.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DistributedAdmissionVolume">
                    <xs:complexType>
                        <xs:all>
                               <xs:element name="UID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="36"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="UIDAdmissionVolume"/>
                            <xs:element type="xs:integer" name="IDDirection"/>
                            <xs:element type="xs:integer" name="IDLevelBudget"/>
                            <xs:element type="xs:integer" name="Budget_o"/>
                            <xs:element type="xs:integer" name="Budget_oz"/>
                            <xs:element type="xs:integer" name="Budget_z"/>
                            <xs:element type="xs:integer" name="Quota_o"/>
                            <xs:element type="xs:integer" name="Quota_oz"/>
                            <xs:element type="xs:integer" name="Quota_z"/>
                            <xs:element type="xs:integer" name="Paid_o"/>
                            <xs:element type="xs:integer" name="Paid_oz"/>
                            <xs:element type="xs:integer" name="Paid_z"/>
                            <xs:element type="xs:integer" name="Target_o"/>
                            <xs:element type="xs:integer" name="Target_oz"/>
                            <xs:element type="xs:integer" name="Target_z"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

