digest/documents/compatriot/xsd/Add_compatriot.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Compatriot" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:long" name="SNILS"/>
                            <xs:element type="xs:integer" name="IDDocumentType"/>
                            <xs:element type="xs:string" name="DocName"/>
                            <xs:element type="xs:string" name="DocOrg" minOccurs="0"/>
                            <xs:element type="xs:integer" name="IDCompatriotCategory"/>
                            <xs:element type="xs:string" name="File"/>
                            <xs:element name="IDDocChoice">
                                <xs:complexType>
                                    <xs:choice>
                                           <xs:element name="UID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="36"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                                        <xs:element type="xs:integer" name="UIDEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

