digest/app/entrance_test_result/xsd/Add_entrance_test_result.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EntranceTestResult" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="IDApplicationChoice" >
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element type="xs:string" name="UID"/>
                                        <xs:element type="xs:integer" name="UIDEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="UID"/>
                            <xs:element type="xs:integer" name="IDEntranceTest"/>
                            <xs:element type="xs:integer" name="IDEntranceTestDocumentType" minOccurs="0"/>
                            <xs:element type="xs:integer" name="DocNumber"/>
                            <xs:element type="xs:dateTime" name="IssueDate"/>
                            <xs:element type="xs:integer" name="IdResultSource"/>
                            <xs:element type="xs:float" name="ResultValue"/>
                            <xs:element type="xs:integer" name="IdBenefit" minOccurs="0"/>
                            <xs:element type="xs:integer" name="IdAppealStatus" minOccurs="0"/>
                            <xs:element type="xs:string" name="HasEge" minOccurs="0"/>
                            <xs:element type="xs:integer" name="EgeValue" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

