digest/cmp/achievements/xsd/Add_achievements.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Achievement">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:string" name="UIDCampaign"/>
                            <xs:element type="xs:string" name="UID"/>
                            <xs:element type="xs:integer" name="IDCategory"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:integer" name="MaxValue"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>