digest/cmp/admission_volume/xsd/Remove_admission_volume.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AdmissionVolume">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:string" name="UID"/>
                            <xs:element type="xs:integer" name="IDDirection"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
