digest/app/order_admission/xsd/Add_order_admission.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OrderAdmission" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="IDOrderAdmissionChoice">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element type="xs:string" name="UID"/>
                                        <xs:element type="xs:integer" name="UIDEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="UIDCampaign"/>
                            <xs:element type="xs:int"  name="IDEducationForm"/>
                            <xs:element type="xs:int"  name="IDEducationSource"/>
                            <xs:element type="xs:int"  name="IDEducationLevel"/>
                            <xs:element type="xs:string" name="OrderName"/>
                            <xs:element type="xs:string" name="OrderNumber"/>
                            <xs:element type="xs:dateTime" name="OrderDate"/>
                            <xs:element type="xs:dateTime" name="Published" minOccurs="0"/>
                            <xs:element type="xs:int"  name="IDOrderAdmissionStatus"/>
                            <xs:element type="xs:int"  name="IdOrderAdmissionType"/>
                            <xs:element type="xs:boolean" name="PreferentialOrder"/>
                            <xs:element type="xs:boolean" name="Foreigners"/>
                            <xs:element name="Application" minOccurs="0">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="IDApplicationChoice" minOccurs="0">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element type="xs:string" name="UID"/>
                                                    <xs:element type="xs:integer" name="UIDEpgu"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

