digest/app/order_admission/xsd/Add_order_admission.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OrderAdmission" maxOccurs="10" minOccurs="0" >
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="UID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="36"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="UIDCampaign"/>
                            <xs:element type="xs:int"  name="IDEducationForm"/>
                            <xs:element type="xs:int"  name="IDEducationSource"/>
                            <xs:element type="xs:int"  name="IDEducationLevel"/>
                            <xs:element type="xs:string" name="OrderName"/>
                            <xs:element type="xs:string" name="OrderNumber"/>
                            <xs:element type="xs:dateTime" name="OrderDate"/>
                            <xs:element type="xs:dateTime" name="Published" minOccurs="0"/>
                            <xs:element type="xs:int"  name="IDOrderAdmissionStatus"/>
                            <xs:element type="xs:int"  name="IDOrderAdmissionType"/>
                            <xs:element type="xs:boolean" name="PreferentialOrder"/>
                            <xs:element type="xs:boolean" name="Foreigners"/>
                            <xs:element name="AddApplications">
                                <xs:complexType>
                                    <xs:sequence>
                                     <xs:element name="Application" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:all>
                                             <xs:element name="IDApplicationChoice" minOccurs="0">
                                             <xs:complexType>
                                                <xs:choice>
                                                       <xs:element name="UID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="36"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                         </xs:element>
                                                    <xs:element type="xs:integer" name="UIDEpgu"/>
                                                </xs:choice>
                                            </xs:complexType>
                                            </xs:element>
                                             </xs:all>
                                        </xs:complexType>
                                     </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RemoveApplications">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Application" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="IDApplicationChoice" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element name="UID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="36"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:integer" name="UIDEpgu"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

