digest/cmp/competitive_benefits/xsd/Add_competitive_benefits.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:all>
                <xs:element name="CompetitiveBenefit">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:string" name="UIDCompetitiveGroup"/>
                            <xs:element type="xs:string" name="Creative"/>
                            <xs:element type="xs:string" name="Athletic"/>
                            <xs:element type="xs:integer" name="IDBenefit"/>
                            <xs:element type="xs:integer" name="IDOlympicDiplomaType"/>
                            <xs:element type="xs:integer" name="EgeMinValue"/>
                            <xs:element name="OlympicProfiles">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="IDOlympicProfile"  maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                               <xs:element name="UID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="36"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>