digest/documents/orphans/xsd/Add_orphans.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PackageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Orphans" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:long" name="SNILS"/>
                            <xs:element type="xs:integer" name="IDDocumentType" minOccurs="0"/>
                            <xs:element type="xs:string" name="DocName"/>
                            <xs:element type="xs:string" name="DocOrg" minOccurs="0"/>
                            <xs:element type="xs:string" name="DocSeries" minOccurs="0"/>
                            <xs:element type="xs:string" name="DocNumber" minOccurs="0"/>
                            <xs:element type="xs:dateTime" name="IssueDate" minOccurs="0"/>
                            <xs:element type="xs:integer" name="IDCategory"/>
                            <xs:element type="xs:string" name="File"/>
                            <xs:element name="IDDocChoice">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element type="xs:string" name="UID"/>
                                        <xs:element type="xs:integer" name="UIDEpgu"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

